*.pidb
*.userprefs
/*.pidb
*pidb.meta
/*.suo
/*.userprefs
/*.swp
/*.dll
/*.exe
/*.mdb
/*\~
/.DS_Store
.DS_Store
*.mdw
builds/

HighKings.sln.sln
HighKings.sln*.sln
UnityVS*

Temp*
Library/
Temp/
obj/

*.unityproj
Assembly-CSharp*.csproj

*.orig
*.orig.meta
*.swatch

/.vscode/

.vscode/launch.json
