*.pidb
*.userprefs
/*.pidb
*pidb.meta
/*.suo
/*.userprefs
/*.swp
/*.dll
/*.exe
/*.mdb
/*\~
/.DS_Store
.DS_Store
*.mdw
builds/

HighKings.sln
HighKings.sln.sln
HighKings.sln*.sln
UnityVS*

Temp*
Library/
Temp/
obj/

*.unityproj
Assembly-CSharp*.csproj

*.orig
*.orig.meta
*.swatch

.vs/
HighKings.CSharp.csproj
HighKings.CSharp.Editor.csproj
HighKings.CSharp.Editor.Plugins.csproj
HighKings.CSharp.Plugins.csproj
HighKings.sln
HighKings-csharp.sln

/.vscode/

.vscode/launch.json
